:host {
  width: 100%;
}

.detail__header {
  margin-top: 2rem;
  width: 100%;
  font-weight: light;
}

.detail__header a {
  text-decoration: underline;
}

.detail_apiError {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background: #f78787;
  color: white;
}

form {
  width: 100%;
  max-width: 900px;
}
form div {
  margin: 2rem 0;
}

.detail__actions {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
