:host {
  width: 100%;
  display: flex;
}

form {
  width: 100%;
  max-width: 900px;
}
form div {
  margin: 2rem 0;
}

.detail__actions {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
