<div class="list__header">
  <h2>{{ "PRODUCTS_PAGE_TITLE" | translate }}</h2>
  <app-actionbar></app-actionbar>
</div>

<div class="list__toolbars">
  <app-search-bar></app-search-bar>

  <app-toolbar></app-toolbar>
</div>

<div class="list__items">
  <app-panel layout="grid">
    <ng-container *ngFor="let product of (products$ | async)">
      <app-card [product]="product" [fields]="['title', 'category','description', 'employee', 'price']" layout="card"></app-card>
      <span>{{product.id}}</span>
    </ng-container>
  </app-panel>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" ></mat-paginator>
</div>
